body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ffffff, #2c2c2c);
    color: white;
    font-family: Arial, sans-serif;
}

/* .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
} */

.video-container {
    width: 50%;
    overflow: hidden;
    aspect-ratio: 16/9;
}

/* Hide YouTube UI by shifting iframe */
.video-container iframe {
    width: 300%;
    height: 80%;
    margin-left: -100%;
    pointer-events: auto; /* Enable interaction for user controls */
}


.controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

.control-btn {
    background: #58657c;
    border: none;
    padding: 12px 15px;
    color: white;
    font-size: 20px;
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.control-btn:hover {
    background: #555;
    /* transform: scale(1.1); */
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 320px;
    height: 6px;
    background: #777;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.slider:hover {
    background: #fff;
}

.volume-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.volume-container i {
    font-size: 16px;
    color: #aaa;
}

.volume-container i:hover {
    color: white;
}
